* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
/* Blurred background styling */
.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, lightblue, lightgreen); /* Background gradient */
    filter: blur(10px); /* Apply blur effect */
    z-index: -1; /* Keep background behind everything else */
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
}
.box {
    width: 500px;
    height: 600px;
    background: linear-gradient(to bottom, rgb(5, 5, 230), rgb(15, 209, 15));
    border: 8px solid #0e0e0e;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    filter: none;
    /* Flexbox for column layout */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: space-between; /* Center items vertically */
    /* padding: 20px; */
    z-index: 1;
}

.top {
    width: 100%;
    align-self: flex-start;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the image and text */
    justify-content: center;
}
.bottom {

    width: 100%; 
    align-self: flex-end;
    /* padding-bottom: 10px; */
    /* height: 10px; */
    /* flex-direction: row; */
}
.bottom-bar {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
}
.user_pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #faf6f6;
}
.center h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #faf6f6;
    margin-bottom: 10px;
    text-align: center;
}
.fa-solid.fa-phone{
    height: 20;
    width: 20;
}

